

<div class="container-fluid welcomePage">
	<div id="welcome-nav">

		<div><a href="/#/#howTo">What is Kodaki?</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/#aboutUs">About Us</a></div>

	</div>
	<div class="row topRows">
		<div class="col-md-8 col-md-offset-2 text-center homeWell">
			<div>
				<img src="" alt="" id="logo"> <!-- logo -->
				<h1>Kodaki</h1>
				<h3>Find your perfect picture today</h3>

				<div>
					<md-button class="md-raised" ng-click="nav.openLoginModal()">Login</md-button>

					<md-button class="md-raised" ng-click="nav.openRegisterModal()">Register</md-button>
				</div>
				<br>
				<i>or login with an account below...</i>
				<br>
				<br>
				<md-button href="api/user/auth/facebook" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-facebook" style="font-size: 1.7em;"></i></md-button>

				<md-button href="api/user/auth/google" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-google" style="font-size: 1.7em;"></i></md-button>

				<!-- <md-button href="api/user/auth/linkedin" style="text-shadow:none;" class="md-fab md-button"><i class="fa fa-linkedin" style="font-size: 1.7em;"></i></md-button> -->
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 text-center welcomeBasics animated slideInUp" id="howTo">
	<div class="col-md-3"></div>
	<div class="col-md-2">
		TITLE
		<br>
		<i class="material-icons">infor</i>
		<p>more information about type of service offered, and what it can do to provide solutions to a costomers personal needs.</p>
	</div>
	<div class="col-md-2">
		TITLE
		<br>
		<i class="material-icons">information</i>
		<p>more information about type of service offered, and what it can do to provide solutions to a costomers personal needs.</p>
	</div>
	<div class="col-md-2">
		TITLE
		<br>
		<i class="material-icons">poll more information</i>
		<p>more information about type of service offered, and what it can do to provide solutions to a costomers personal needs.</p>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="col-md-12 text-center" id="aboutUs">
	<h1 class="aboutTitle">About Us</h1>
	<br>
	<div class="col-md-2"></div>

	<div class="col-md-2"></div>
</div>
<div class="col-md-12 copywright text-center">
	Copyright &copy; 2015. All Rights Reserved. 
</div>
